body {
    padding: 10px;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;
}

.color-div {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.c1 { background-color: red; }
.c2 { background-color: orange; }
.c3 { background-color: yellow; }
.c4 { background-color: green; }
.c5 { background-color: blue; }
.c6 { background-color: purple; }
.c7 { background-color: black; }
.c8 { background-color: white; }

.color-title { 
    color: white;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
 }